body{
  margin: unset;
}

.pageWrapper{
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
}

/* TOP LEVEL WRAPPERS */
.textBoxWrapper {
  flex: 0.7;
  border: 2px solid black;
  box-sizing: border-box;
}

.messageStreamWrapper{
  height: 100vh;
  flex: 0.4;
  border: 2px solid green;
  box-sizing: border-box;
  overflow: scroll;
  padding: 30px;
}

.canvasWrapper{
  height: 100%;
  flex: 0.7;
}


/* MESSAGE STREAM INNER CLASSES */

.messageStream{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.messageStreamMetadataRow{
  border: 2px solid grey;
  width: 90%;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.messageCard{
  border: 2px solid black;
  width: 90%;
  height: 160px;
  overflow: scroll;
  padding: 10px;
  box-sizing: border-box;
}

/* SEARCH INNER CLASSES */
.searchBarWrapper{
  /* border: 4px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 5px;
}

.searchBar{
  border: 2px solid black;
  width: 90%;
  height: 40px;
  font-size: 20px;
}

.searchButton{
  height: 40px;
}

/* CANVAS INNER CLASSES */
.canvasSVG{
  height: 100%;
  width: 100%;
  border: 10px solid pink;
  box-sizing: border-box;
}

/* CANVAS D3 CLASSES */
.featureRequestCircle{
  transition: 1s ease-out all;
}

.searchSelected{
  transition: 0.5s ease-in fill;
  transition: 0.2s ease-in r;
  r: 10;
  fill: black !important;
}

.mouseOverFr{
  transition: 0.2s ease-in all;
  r: 20 !important;
}

/* TEXTBOX STYLES */
textarea::placeholder {
  color: #e0e0e0;
  white-space: pre-line;
}
textarea {
  resize: none;
}

.textbox-shadow {
  box-shadow: -16px 16px rgba(0, 0, 0, 0.03);
}

textarea:focus {
  outline-width: 0;
  outline: none;
}

div.DraftEditor-root {
  background-color: rgb(248 250 252);
  width:100%;
  height:100%;
  max-height: 100%;
  overflow-y: scroll;

  flex-grow: 1;
  padding: 20px;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
}
